/* Error: Undefined mixin.
 *    ,
 * 80 |     @include transform_time(.5s);
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   _common.scss 80:5  @import
 *   style.scss 5:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 80 \2502      @include transform_time(.5s);\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   _common.scss 80:5  @import\a   style.scss 5:9     root stylesheet";
}
